* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box; }

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth; }

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0; }

.header {
  position: fixed;
  width: 100%;
  padding: 0 20px;
  height: 50px;
  display: flex;
  background-color: #2b323e;
  align-items: center;
  z-index: 30; }
  @media (min-width: 800px) {
    .header {
      height: 70px;
      padding: 0 10%; } }
  @media (min-width: 1200px) {
    .header {
      height: 100px;
      padding: 0 15%; } }
  .header__link {
    display: block;
    width: 20px;
    height: 20px;
    background-size: contain;
    justify-self: end;
    margin-right: 12px; }
    @media (min-width: 800px) {
      .header__link {
        margin-right: 20px;
        width: 24px;
        height: 24px; } }
    .header__link--github {
      background-image: url(../img/github.svg);
      filter: invert(100%);
      transition: all 0.2s ease; }
      .header__link--github:hover {
        transform: scale(1.1);
        filter: invert(73%) sepia(33%) saturate(1033%) hue-rotate(350deg) brightness(101%) contrast(102%); }
    .header__link--linkedin {
      background-image: url(../img/linkedin.svg);
      filter: invert(100%);
      transition: all 0.2s ease; }
      .header__link--linkedin:hover {
        transform: scale(1.1);
        filter: invert(73%) sepia(33%) saturate(1033%) hue-rotate(350deg) brightness(101%) contrast(102%); }
  .header__contact {
    display: none; }
    @media (min-width: 800px) {
      .header__contact {
        display: block;
        width: 90px;
        height: 30px;
        border: 1px solid #ffb820;
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-size: 10px;
        color: white;
        font-family: "Arimo", sans-serif;
        font-weight: 700;
        letter-spacing: 1px;
        cursor: pointer; }
        .header__contact:hover {
          border: 2px solid #ffb820; } }

.navigation {
  justify-self: end; }
  .navigation__menu {
    width: 25px;
    height: 25px;
    border: 1px solid #ff493c;
    border-radius: 50%;
    background: transparent;
    position: relative;
    transform: rotate(0deg);
    cursor: pointer; }
    .navigation__menu span {
      transition: .3s ease-in-out;
      display: block;
      position: absolute;
      width: 12px;
      height: 1px;
      background-color: #ff493c;
      margin: 0 auto;
      transform-origin: left center;
      left: 5.5px; }
      .navigation__menu span:nth-child(1) {
        top: 8px; }
      .navigation__menu span:nth-child(2) {
        top: 12px; }
      .navigation__menu span:nth-child(3) {
        top: 16px; }
    .navigation__menu[aria-expanded="true"] span:nth-child(1) {
      transform: rotate(45deg);
      top: 7px;
      left: 7.5px; }
    .navigation__menu[aria-expanded="true"] span:nth-child(2) {
      opacity: 0; }
    .navigation__menu[aria-expanded="true"] span:nth-child(3) {
      transform: rotate(45deg);
      transform: rotate(-45deg);
      top: 16px;
      left: 7.5px; }
    @media (min-width: 800px) {
      .navigation__menu {
        display: none; } }

.logo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  .logo__title {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: white;
    min-width: 120px; }
    .logo__title span {
      color: #ff493c; }
    @media (min-width: 800px) {
      .logo__title {
        font-size: 30px; } }
  .logo__subtitle {
    font-family: "Arimo", sans-serif;
    font-size: 9px;
    text-transform: uppercase;
    color: #989898;
    min-width: 120px;
    font-weight: 400; }
    @media (min-width: 800px) {
      .logo__subtitle {
        font-size: 13px; } }

.navigation__list {
  position: absolute;
  z-index: 5;
  top: 50px;
  left: 0;
  width: 100%;
  height: 120px;
  background-color: #2b323e;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.3s, opacity 0.3s ease;
  border-bottom: 1px solid #989898; }
  .navigation__list--active {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease; }

.navigation__item {
  height: 40px; }

.navigation__link {
  list-style: none;
  color: white;
  line-height: 40px;
  display: block;
  text-align: center;
  font-family: "Arimo", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  transition: color 0.3s ease; }
  .navigation__link:hover {
    color: #ff493c; }

.hero {
  height: 100vh;
  padding: 0 20px;
  background-color: #2b323e;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end; }
  @media (min-width: 800px) {
    .hero {
      height: 100vh;
      padding: 0 10%;
      background-position: 20% 100%; } }
  @media (min-width: 1200px) {
    .hero {
      height: 100vh;
      padding: 0 15%; } }
  .hero__title {
    font-family: "Raleway", sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px; }
    .hero__title::first-letter {
      color: #ff493c; }
    @media (min-width: 500px) {
      .hero__title {
        font-size: 40px; } }
    @media (min-width: 800px) {
      .hero__title {
        font-size: 45px; } }
    @media (min-width: 1200px) {
      .hero__title {
        font-size: 50px; } }
  .hero__subtitle {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: white;
    line-height: 25px;
    text-align: right;
    width: 250px;
    margin-bottom: 10px; }
    @media (min-width: 500px) {
      .hero__subtitle {
        font-size: 24px;
        line-height: 29px; } }
    @media (min-width: 800px) {
      .hero__subtitle {
        font-size: 30px;
        line-height: 35px; } }
    @media (min-width: 1200px) {
      .hero__subtitle {
        font-size: 35px;
        line-height: 40px; } }
    @media (min-width: 500px) {
      .hero__subtitle {
        width: 300px; } }
    @media (min-width: 800px) {
      .hero__subtitle {
        width: 370px; } }
    @media (min-width: 1200px) {
      .hero__subtitle {
        width: 430px; } }
  .hero__text {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: white;
    line-height: 20px;
    text-align: right;
    margin-bottom: 30vh;
    width: 300px; }
    @media (min-width: 500px) {
      .hero__text {
        font-size: 18px;
        line-height: 22px; } }
    @media (min-width: 800px) {
      .hero__text {
        font-size: 20px;
        line-height: 24px; } }
    @media (min-width: 1200px) {
      .hero__text {
        font-size: 22px;
        line-height: 26px; } }
    @media (min-width: 500px) {
      .hero__text {
        width: 340px; } }
    @media (min-width: 800px) {
      .hero__text {
        width: 470px;
        margin-bottom: 40vh; } }
    @media (min-width: 1200px) {
      .hero__text {
        width: 515px; } }

.portfolio {
  padding: 20px 25px;
  background-color: #1b222e;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto); }
  @media (min-width: 800px) {
    .portfolio {
      padding: 70px 10%; } }
  @media (min-width: 1200px) {
    .portfolio {
      padding: 70px 15%; } }
  @media (min-width: 600px) {
    .portfolio {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(4, auto);
      grid-column-gap: 40px; } }
  @media (min-width: 1200px) {
    .portfolio {
      grid-column-gap: 80px;
      grid-row-gap: 30px; } }
  @media (min-width: 1500px) {
    .portfolio {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, auto); } }
  .portfolio__title {
    font-family: "Raleway", sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 25px; }
    .portfolio__title::first-letter {
      color: #ff493c; }
    @media (min-width: 500px) {
      .portfolio__title {
        font-size: 40px; } }
    @media (min-width: 800px) {
      .portfolio__title {
        font-size: 45px; } }
    @media (min-width: 1200px) {
      .portfolio__title {
        font-size: 50px; } }
    @media (min-width: 600px) {
      .portfolio__title {
        grid-column: span 2; } }
    @media (min-width: 1500px) {
      .portfolio__title {
        grid-column: span 3; } }

.project {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 50px; }
  .project:before {
    content: "";
    display: block;
    position: absolute;
    width: calc(100% + 15px);
    height: calc(100% + 20px);
    left: -5px;
    top: -5px;
    background: none;
    border: 1px solid #ffb820; }
  .project__photo {
    position: relative; }
    .project__photo img {
      width: 100%;
      height: auto; }
    .project__photo:before {
      content: "";
      display: block;
      position: absolute;
      width: calc(100% + 15px);
      height: calc(100% + 10px);
      left: -10px;
      top: -10px;
      background: none;
      border: 1px solid #ff493c; }
    .project__photo:after {
      content: "live";
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba(43, 50, 62, 0.8);
      font-family: "Raleway", sans-serif;
      font-size: 14px;
      font-weight: 200;
      color: white;
      line-height: 20px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 0.1em;
      color: white;
      opacity: 0;
      transition: opacity 0.2s ease-in-out; }
      @media (min-width: 1200px) {
        .project__photo:after {
          font-size: 16px;
          line-height: 22px; } }
    .project__photo:hover:after {
      opacity: 1; }
  .project__title {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: white;
    line-height: 20px;
    margin-top: 25px;
    font-weight: 400;
    padding: 0 10px; }
    @media (min-width: 500px) {
      .project__title {
        font-size: 18px;
        line-height: 22px; } }
    @media (min-width: 800px) {
      .project__title {
        font-size: 20px;
        line-height: 24px; } }
    @media (min-width: 1200px) {
      .project__title {
        font-size: 22px;
        line-height: 26px; } }
  .project__description {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 200;
    color: white;
    line-height: 20px;
    margin-top: 20px;
    padding: 0 10px; }
    @media (min-width: 1200px) {
      .project__description {
        font-size: 16px;
        line-height: 22px; } }
  .project__technologies {
    list-style: none;
    display: flex;
    margin-top: 15px;
    padding: 0 10px; }
    .project__technologies li {
      min-width: 40px;
      color: white;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 18px;
      font-size: 9px;
      font-family: "Arimo", sans-serif;
      border: 1px solid white;
      border-radius: 9px;
      padding: 0 5px;
      margin-right: 10px; }
  .project__github {
    width: 20px;
    height: 20px;
    background-image: url(../img/github.svg);
    background-size: contain;
    position: absolute;
    right: 0;
    bottom: 8px;
    margin-right: 15px;
    z-index: 2;
    filter: invert(100%);
    transition: all 0.2s ease; }
    .project__github:hover {
      transform: scale(1.4);
      filter: invert(73%) sepia(33%) saturate(1033%) hue-rotate(350deg) brightness(101%) contrast(102%); }

.about {
  padding: 20px 25px;
  background-color: #2b323e;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto); }
  @media (min-width: 800px) {
    .about {
      padding: 70px 10%; } }
  @media (min-width: 1200px) {
    .about {
      padding: 70px 15%; } }
  @media (min-width: 800px) {
    .about {
      background-image: url(../img/about_background.png);
      background-repeat: no-repeat;
      background-position: center 91%;
      background-size: 55%; } }
  @media (min-width: 1200px) {
    .about {
      background-position: center 96%; } }
  .about__title {
    font-family: "Raleway", sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 25px;
    grid-column: span 2; }
    .about__title::first-letter {
      color: #ff493c; }
    @media (min-width: 500px) {
      .about__title {
        font-size: 40px; } }
    @media (min-width: 800px) {
      .about__title {
        font-size: 45px; } }
    @media (min-width: 1200px) {
      .about__title {
        font-size: 50px; } }
  .about__text {
    grid-column: span 2;
    padding-bottom: 10px;
    margin-bottom: 25px; }
    @media (min-width: 800px) {
      .about__text {
        columns: 2 auto;
        column-gap: 50px; } }
  .about__paragraph {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 200;
    color: white;
    line-height: 20px;
    margin-bottom: 20px;
    line-height: 24px; }
    @media (min-width: 1200px) {
      .about__paragraph {
        font-size: 16px;
        line-height: 22px; } }
    .about__paragraph strong {
      font-weight: bold;
      color: #ffb820; }
    .about__paragraph:last-of-type {
      margin-bottom: 0; }
  .about__button {
    width: 90px;
    height: 30px;
    border: 1px solid #ff493c;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 10px;
    color: white;
    font-family: "Arimo", sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    margin-bottom: 20px;
    justify-self: center; }
    .about__button:hover {
      border: 2px solid #ff493c; }

.contact {
  padding: 20px 25px;
  background-color: #1b222e;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto); }
  @media (min-width: 800px) {
    .contact {
      padding: 70px 10%; } }
  @media (min-width: 1200px) {
    .contact {
      padding: 70px 15%; } }
  @media (min-width: 800px) {
    .contact {
      grid-template-columns: 2fr 1fr 1fr;
      grid-template-rows: repeat(3, auto);
      grid-column-gap: 30px; } }
  @media (min-width: 1200px) {
    .contact {
      grid-column-gap: 80px; } }
  .contact__title {
    font-family: "Raleway", sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 25px; }
    .contact__title::first-letter {
      color: #ff493c; }
    @media (min-width: 500px) {
      .contact__title {
        font-size: 40px; } }
    @media (min-width: 800px) {
      .contact__title {
        font-size: 45px; } }
    @media (min-width: 1200px) {
      .contact__title {
        font-size: 50px; } }
    @media (min-width: 800px) {
      .contact__title {
        grid-column: span 3; } }
  .contact__text {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 200;
    color: white;
    line-height: 20px;
    margin-bottom: 25px;
    line-height: 25px; }
    @media (min-width: 1200px) {
      .contact__text {
        font-size: 16px;
        line-height: 22px; } }
    @media (min-width: 800px) {
      .contact__text {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
        line-height: 30px;
        margin-bottom: 0; } }
  .contact__details {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 200;
    color: white;
    line-height: 20px;
    font-size: 18px;
    display: flex;
    flex-direction: column; }
    @media (min-width: 1200px) {
      .contact__details {
        font-size: 16px;
        line-height: 22px; } }
    @media (min-width: 800px) {
      .contact__details {
        grid-column: 2 / 4;
        grid-row: 3 / 4; } }
    @media (min-width: 1200px) {
      .contact__details {
        flex-direction: row;
        justify-content: space-evenly; } }
  .contact__form {
    grid-row: 4 / 5; }
    @media (min-width: 800px) {
      .contact__form {
        grid-column: 1 / 2;
        grid-row: 2 / 4; } }
  .contact__link {
    text-decoration: none;
    font-style: normal;
    text-align: center;
    height: 70px;
    line-height: 70px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 25px;
    transition: color 0.3s ease;
    font-weight: 500;
    letter-spacing: 1px; }
    .contact__link:active, .contact__link:visited, .contact__link:link {
      color: white; }
    .contact__link:hover {
      color: #ffb820; }
    .contact__link--mail {
      background-image: url(../img/envelope_background.svg); }
    .contact__link--phone {
      background-image: url(../img/phone_background.svg); }

.form {
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 12px;
  text-transform: uppercase;
  color: #242d3c;
  flex-wrap: wrap;
  margin-bottom: 25px; }
  .form__item {
    margin-bottom: 15px;
    position: relative;
    width: 100%; }
    .form__item input {
      height: 44px;
      line-height: 40px; }
    .form__item textarea {
      resize: none;
      line-height: 21px;
      font-family: "Raleway", sans-serif;
      font-size: 12px;
      font-weight: 400; }
    .form__item input,
    .form__item textarea {
      width: 100%;
      padding: 10px;
      background-color: white;
      border: 1px solid transparent; }
      .form__item input:invalid,
      .form__item textarea:invalid {
        border: 1px solid #ff493c;
        box-shadow: none; }
      .form__item input:focus,
      .form__item textarea:focus {
        border: 1px solid #989898;
        box-shadow: inset 0 0 0 1px #989898, inset 0 1px 5px rgba(0, 0, 0, 0.07);
        outline: none; }
      .form__item input:focus + label,
      .form__item textarea:focus + label {
        top: -10px;
        font-size: 8px;
        color: white;
        font-weight: 400; }
      .form__item input::placeholder,
      .form__item textarea::placeholder {
        color: transparent; }
      .form__item input:not(:placeholder-shown) + label,
      .form__item textarea:not(:placeholder-shown) + label {
        top: -10px;
        font-size: 8px;
        color: white;
        font-weight: 400; }
      .form__item input.error,
      .form__item textarea.error {
        border: 1px solid #ff493c; }
    @media (min-width: 500px) {
      .form__item--mail, .form__item--phone {
        width: 40%;
        flex: 1; }
      .form__item--phone {
        margin-right: 15px; } }
  .form__label {
    display: block;
    position: absolute;
    top: 16px;
    left: 10px;
    transition: 0.2s ease-out all;
    cursor: text; }
  .form__submit {
    width: 90px;
    height: 30px;
    border: 1px solid #ffb820;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 10px;
    color: white;
    font-family: "Arimo", sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer; }
    .form__submit:hover {
      border: 2px solid #ffb820; }
  .form .send-error {
    text-align: center;
    display: block;
    font-family: sans-serif;
    padding: 15px 20px;
    color: #ff493c; }
    @media (min-width: 500px) {
      .form .send-error {
        display: inline-block;
        text-align: left; } }

.form-send-success {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  border: none;
  background-color: #1b222e;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  height: 386.4px; }
  @media (min-width: 800px) {
    .form-send-success {
      height: 327.4;
      grid-row: 2 / 4; } }

.form-send-success strong {
  display: block; }
  .form-send-success strong::first-letter {
    color: #ff493c; }

.form-send-success span {
  font-size: 14px;
  color: white;
  font-weight: normal;
  display: block; }

.field-error {
  color: #ff493c;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  padding: 10px 0;
  font-size: 9px;
  position: absolute;
  bottom: -23px; }

.element-is-busy {
  position: relative;
  pointer-events: none;
  opacity: 0.5; }

.element-is-busy::after {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 2px solid rgba(255, 184, 32, 0.2);
  border-right-color: rgba(255, 184, 32, 0.7);
  transform: translate(-50%, -50%) rotate(0deg);
  content: "";
  animation: rotateSingleLoading 0.3s infinite linear;
  z-index: 10; }

@keyframes rotateSingleLoading {
  from {
    transform: translate(-50%, -50%) rotate(0deg); }
  to {
    transform: translate(-50%, -50%) rotate(360deg); } }

.honey-row {
  display: none; }

.footer {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: white;
  line-height: 20px;
  font-size: 12px;
  height: 60px;
  background-color: #2b323e;
  color: #989898;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (min-width: 1200px) {
    .footer {
      font-size: 16px;
      line-height: 22px; } }
