@import "colors";
@import "fonts";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
}

.header {
  position: relative;
  padding: 0 20px;
  height: 50px;
  display: flex;
  background-color: $back_light;
  align-items: center;
  @include media("medium") {
    height: 70px;
    padding: 0 10%;
  }
  @include media("large") {
    height: 100px;
    padding: 0 15%;
  }
  &__link {
    display: block;
    width: 20px;
    height: 20px;
    background-size: contain;
    justify-self: end;
    margin-right: 12px;
    @include media("medium") {
      margin-right: 20px;
      width: 24px;
      height: 24px;
    }
    &--github {
      background-image: url(../img/github.svg);
      filter: invert(100%);
      transition: all 0.2s ease;
      &:hover {
        transform: scale(1.1);
        filter: invert(73%) sepia(33%) saturate(1033%) hue-rotate(350deg)
          brightness(101%) contrast(102%);
      }
    }
    &--linkedin {
      background-image: url(../img/linkedin.svg);
      filter: invert(100%);
      transition: all 0.2s ease;
      &:hover {
        transform: scale(1.1);
        filter: invert(73%) sepia(33%) saturate(1033%) hue-rotate(350deg)
          brightness(101%) contrast(102%);
      }
    }
  }
  &__contact {
    display: none;
    @include media("medium") {
      display: block;
      @include button(90px, 30px, $yellow);
    }
  }
}

.navigation {
  justify-self: end;
  &__menu {
    width: 25px;
    height: 25px;
    border: 1px solid $red;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    span {
      display: block;
      width: 12px;
      height: 1px;
      background-color: $red;
      margin: 0 auto;
      &:nth-of-type(2) {
        margin: 3px auto;
      }
    }
    @include media("medium") {
      display: none;
    }
  }
}

.logo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  &__title {
    font-family: $main_font;
    font-size: 20px;
    font-weight: 700;
    color: white;
    min-width: 120px;
    span {
      color: $red;
    }
    @include media("medium") {
      font-size: 30px;
    }
  }
  &__subtitle {
    font-family: $sec_font;
    font-size: 9px;
    text-transform: uppercase;
    color: $grey;
    min-width: 120px;
    font-weight: 400;
    @include media("medium") {
      font-size: 13px;
    }
  }
}

.navigation {
  &__list {
    position: absolute;
    z-index: 5;
    top: 50px;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: $back_light;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s ease;
    &--active {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.3s ease;
    }
  }
  &__item {
    height: 40px;
  }
  &__link {
    list-style: none;
    color: white;
    line-height: 40px;
    display: block;
    text-align: center;
    font-family: $sec_font;
    font-size: 14px;
    text-transform: uppercase;
    transition: color 0.3s ease;
    &:hover {
      color: $red;
    }
  }
}

.hero {
  height: calc(100vh - 50px);
  padding: 0 20px;
  background-color: $back_light;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  background-image: url(../img/person_shadow.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 60vh;
  @include media("medium") {
    height: calc(100vh - 70px);
    padding: 0 10%;
    background-position: 20% 100%;
  }
  @include media("large") {
    height: calc(100vh - 100px);
    padding: 0 15%;
  }
  &__title {
    @include title;
    margin-bottom: 10px;
  }
  &__subtitle {
    @include subtitle;
    text-align: right;
    width: 250px;
    margin-bottom: 10px;
    @include media("small") {
      width: 300px;
    }
    @include media("medium") {
      width: 370px;
    }
    @include media("large") {
      width: 430px;
    }
  }
  &__text {
    @include second_subtitle;
    text-align: right;
    margin-bottom: 30vh;
    width: 300px;
    @include media("small") {
      width: 340px;
    }
    @include media("medium") {
      width: 470px;
      margin-bottom: 40vh;
    }
    @include media("large") {
      width: 515px;
    }
  }
}

.portfolio {
  @include sizing;
  background-color: $back_dark;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  @include media("medium_small") {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 40px;
  }
  @include media("large") {
    grid-column-gap: 80px;
    grid-row-gap: 30px;
  }
  @include media("x-large") {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
  }
  &__title {
    @include title;
    text-align: center;
    margin-bottom: 25px;
    @include media("medium_small") {
      grid-column: span 2;
    }
    @include media("x-large") {
      grid-column: span 3;
    }
  }
}

.project {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 50px;
  &:before {
    content: "";
    display: block;
    position: absolute;
    width: calc(100% + 15px);
    height: calc(100% + 20px);
    left: -5px;
    top: -5px;
    background: none;
    border: 1px solid $yellow;
  }
  &__photo {
    position: relative;
    img {
      width: 100%;
      height: auto;
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: calc(100% + 15px);
      height: calc(100% + 10px);
      left: -10px;
      top: -10px;
      background: none;
      border: 1px solid $red;
    }
    &:after {
      content: "live";
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba(43, 50, 62, 0.8);
      @include text;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 0.1em;
      color: white;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
    }
    &:hover:after {
      opacity: 1;
    }
  }
  &__title {
    @include second_subtitle;
    margin-top: 25px;
    font-weight: 400;
    padding: 0 10px;
  }
  &__description {
    @include text;
    margin-top: 20px;
    padding: 0 10px;
  }
  &__technologies {
    list-style: none;
    display: flex;
    margin-top: 15px;
    padding: 0 10px;
    li {
      min-width: 40px;
      color: white;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 18px;
      font-size: 9px;
      font-family: $sec_font;
      border: 1px solid white;
      border-radius: 9px;
      padding: 0 5px;
      margin-right: 10px;
    }
  }
  &__github {
    width: 20px;
    height: 20px;
    background-image: url(../img/github.svg);
    background-size: contain;
    position: absolute;
    right: 0;
    bottom: 8px;
    margin-right: 15px;
    z-index: 2;
    filter: invert(100%);
    transition: all 0.2s ease;
    &:hover {
      transform: scale(1.4);
      filter: invert(73%) sepia(33%) saturate(1033%) hue-rotate(350deg)
        brightness(101%) contrast(102%);
    }
  }
}

.about {
  @include sizing;
  background-color: $back_light;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  @include media("medium") {
    background-image: url(../img/about_background.png);
    background-repeat: no-repeat;
    background-position: center 91%;
    background-size: 55%;
  }
  @include media("large") {
    background-position: center 96%;
  }
  &__title {
    @include title;
    text-align: center;
    margin-bottom: 25px;
    grid-column: span 2;
  }
  &__text {
    grid-column: span 2;
    padding-bottom: 10px;
    margin-bottom: 25px;
    @include media("medium") {
      columns: 2 auto;
      column-gap: 50px;
    }
  }
  &__paragraph {
    @include text;
    margin-bottom: 20px;
    line-height: 24px;
    strong {
      font-weight: bold;
      color: $yellow;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &__button {
    @include button(90px, 30px, $red);
    margin-bottom: 20px;
    justify-self: center;
  }
}

.contact {
  @include sizing;
  background-color: $back_dark;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  @include media("medium") {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 30px;
  }
  @include media("large") {
    grid-column-gap: 80px;
  }

  &__title {
    @include title;
    text-align: center;
    margin-bottom: 25px;
    @include media("medium") {
      grid-column: span 3;
    }
  }
  &__text {
    @include text;
    margin-bottom: 25px;
    line-height: 25px;
    @include media("medium") {
      grid-column: 2 / 4;
      grid-row: 2 / 3;
      line-height: 30px;
      margin-bottom: 0;
    }
  }
  &__details {
    @include text;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    @include media("medium") {
      grid-column: 2 / 4;
      grid-row: 3 / 4;
    }
    @include media("large") {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
  &__form {
    @include media("medium") {
      grid-column: 1 / 2;
      grid-row: 2 / 4;
    }
  }
  &__link {
    text-decoration: none;
    font-style: normal;
    text-align: center;
    height: 70px;
    line-height: 70px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 25px;
    transition: color 0.3s ease;
    font-weight: 500;
    letter-spacing: 1px;
    &:active,
    &:visited,
    &:link {
      color: white;
    }
    &:hover {
      color: $yellow;
    }
    &--mail {
      background-image: url(../img/envelope_background.svg);
    }
    &--phone {
      background-image: url(../img/phone_background.svg);
    }
  }
}

.form {
  display: flex;
  align-items: center;
  font-family: $main_font;
  font-weight: 700;
  font-style: italic;
  font-size: 12px;
  text-transform: uppercase;
  color: #242d3c;
  flex-wrap: wrap;
  margin-bottom: 25px;
  &__item {
    margin-bottom: 15px;
    position: relative;
    width: 100%;
    input {
      height: 44px;
      line-height: 40px;
    }
    textarea {
      resize: none;
      line-height: 21px;
      font-family: $main_font;
      font-size: 12px;
      font-weight: 400;
    }
    input,
    textarea {
      width: 100%;
      padding: 10px;
      background-color: white;
      border: 1px solid transparent;
      &:invalid {
        border: 1px solid $red;
        box-shadow: none;
      }
      &:focus {
        border: 1px solid $grey;
      }
      &:focus + label {
        top: -10px;
        font-size: 8px;
        color: white;
        font-weight: 400;
      }
      &::placeholder {
        color: transparent;
      }
      &:not(:placeholder-shown) + label {
        top: -10px;
        font-size: 8px;
        color: white;
        font-weight: 400;
      }
    }
    @include media("small") {
      &--mail,
      &--phone {
        width: 40%;
        flex: 1;
      }
      &--phone {
        margin-right: 15px;
      }
    }
  }
  &__label {
    display: block;
    position: absolute;
    top: 16px;
    left: 10px;
    transition: 0.2s ease-out all;
    cursor: text;
  }
  &__submit {
    @include button(90px, 30px, $yellow);
  }
}

.honey-row {
  display: none;
}

.footer {
  @include text;
  font-size: 12px;
  height: 60px;
  background-color: $back_light;
  color: $grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
