@import "colors";
@import "fonts";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
}

.header {
  position: relative;
  padding: 0 20px;
  height: 50px;
  display: flex;
  background-color: $back_light;
  align-items: center;
  @include media("medium") {
    height: 70px;
    padding: 0 10%;
  }
  @include media("large") {
    height: 100px;
    padding: 0 15%;
  }
  &__link {
    display: block;
    width: 20px;
    height: 20px;
    background-size: contain;
    justify-self: end;
    margin-right: 12px;
    @include media("medium") {
      margin-right: 20px;
      width: 24px;
      height: 24px;
    }
    &--github {
      background-image: url(../img/github.svg);
    }
    &--linkedin {
      background-image: url(../img/linkedin.svg);
    }
  }
  &__contact {
    display: none;
    @include media("medium") {
      display: block;
      @include button(90px, 30px, $yellow);
    }
  }
}

.navigation {
  justify-self: end;
  &__menu {
    width: 25px;
    height: 25px;
    border: 1px solid $red;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    span {
      display: block;
      width: 12px;
      height: 1px;
      background-color: $red;
      margin: 0 auto;
      &:nth-of-type(2) {
        margin: 3px auto;
      }
    }
    @include media("medium") {
      display: none;
    }
  }
}

.logo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  &__title {
    font-family: $main_font;
    font-size: 20px;
    font-weight: 700;
    color: white;
    min-width: 120px;
    span {
      color: $red;
    }
  }
  &__subtitle {
    font-family: $sec_font;
    font-size: 9px;
    text-transform: uppercase;
    color: $grey;
    min-width: 120px;
    font-weight: 400;
  }
}

.navigation {
  &__list {
    position: absolute;
    z-index: 5;
    top: 50px;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: $back_light;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s ease;
    &--active {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.3s ease;
    }
  }
  &__item {
    height: 40px;
  }
  &__link {
    list-style: none;
    color: white;
    line-height: 40px;
    display: block;
    text-align: center;
    font-family: $sec_font;
    font-size: 14px;
    text-transform: uppercase;
    transition: color 0.3s ease;
    &:hover {
      color: $red;
    }
  }
}

.hero {
  height: calc(100vh - 50px);
  padding: 0 20px;
  background-color: $back_light;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  background-image: url(../img/person_shadow.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 60vh;
  @include media("medium") {
    height: calc(100vh - 70px);
    padding: 0 10%;
    background-position: 20% 100%;
  }
  @include media("large") {
    height: calc(100vh - 100px);
    padding: 0 15%;
  }
  &__title {
    @include title;
    margin-bottom: 10px;
  }
  &__subtitle {
    @include subtitle;
    text-align: right;
    width: 250px;
    margin-bottom: 10px;
    @include media("small") {
      width: 300px;
    }
    @include media("medium") {
      width: 370px;
    }
    @include media("large") {
      width: 430px;
    }
  }
  &__text {
    @include second_subtitle;
    text-align: right;
    margin-bottom: 30vh;
    width: 300px;
    @include media("small") {
      width: 340px;
    }
    @include media("medium") {
      width: 470px;
      margin-bottom: 40vh;
    }
    @include media("large") {
      width: 515px;
    }
  }
}

.portfolio {
  @include sizing;
  background-color: $back_dark;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  @include media("medium_small") {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 40px;
  }
  @include media("large") {
    grid-column-gap: 80px;
    grid-row-gap: 30px;
  }
  &__title {
    @include title;
    text-align: center;
    margin-bottom: 25px;
    @include media("medium_small") {
      grid-column: span 2;
    }
  }
}

.project {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 50px;
  &:before {
    content: "";
    display: block;
    position: absolute;
    width: calc(100% + 15px);
    height: calc(100% + 20px);
    left: -5px;
    top: -5px;
    background: none;
    border: 1px solid $yellow;
  }
  &__photo {
    position: relative;
    img {
      width: 100%;
      height: auto;
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: calc(100% + 15px);
      height: calc(100% + 10px);
      left: -10px;
      top: -10px;
      background: none;
      border: 1px solid $red;
    }
  }
  &__title {
    @include second_subtitle;
    margin-top: 25px;
    font-weight: 400;
    padding: 0 10px;
  }
  &__description {
    @include text;
    margin-top: 20px;
    padding: 0 10px;
  }
  &__technologies {
    list-style: none;
    display: flex;
    margin-top: 15px;
    padding: 0 10px;
    li {
      min-width: 40px;
      color: white;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 18px;
      font-size: 9px;
      font-family: $sec_font;
      border: 1px solid white;
      border-radius: 9px;
      padding: 0 5px;
      margin-right: 10px;
    }
  }
  &__github {
    width: 20px;
    height: 20px;
    background-image: url(../img/github.svg);
    background-size: contain;
    align-self: flex-end;
    margin-right: 15px;
    z-index: 2;
  }
}

.about {
  @include sizing;
  background-color: $back_light;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  @include media("medium") {
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 30px;
  }
  @include media("large") {
    grid-column-gap: 50px;
  }
  &__title {
    @include title;
    text-align: center;
    margin-bottom: 25px;
    grid-column: span 2;
  }
  &__paragraph {
    @include text;
    margin-bottom: 20px;
    grid-column: span 2;
    line-height: 24px;
    strong {
      font-weight: bold;
      color: $yellow;
    }
    @include media("medium") {
      grid-column: span 1;
    }
  }
  &__button {
    @include button(90px, 30px, $red);
    margin-bottom: 20px;
    justify-self: center;
  }
}
